<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.areum.todoproject.dao.TodoMapper">
    <select id="selectAll" resultType="com.areum.todoproject.entity.TodoVO" >
        SELECT * FROM TBL_TODO ORDER BY TNO
    </select>
    <select id="selectList" resultType="com.areum.todoproject.entity.TodoVO" >
        SELECT * FROM (SELECT ROWNUM N, TNO, DUEDATE, WRITER, TITLE, FINISHED FROM TBL_TODO
        WHERE
        <if test="field == 'title'.toString()">
            TITLE
        </if>
        <if test="field == 'writerId'.toString()">
            WRITER
        </if>
        LIKE #{keyword} ORDER BY TNO)T WHERE N BETWEEN #{start} AND #{end}
    </select>
    <select id="selectOne" resultType="com.areum.todoproject.entity.TodoVO" parameterType="long">
        SELECT * FROM TBL_TODO WHERE TNO=#{tno}
    </select>
    <insert id="insert">
        INSERT INTO TBL_TODO (TNO, TITLE, DUEDATE, WRITER)
        VALUES (TBL_TODO_TNO_SEQ.NEXTVAL, #{title}, #{duedate}, #{writer})
    </insert>
    <update id="update">
        UPDATE TBL_TODO SET TITLE=#{title}, DUEDATE=#{duedate}, WRITER=#{writer}, FINISHED=#{finished}
        WHERE TNO=#{tno}
    </update>
    <delete id="delete" parameterType="long">
        DELETE FROM TBL_TODO WHERE TNO=#{tno}
    </delete>
</mapper>