<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.areum.todoproject.dao.TodoMapper">
    <select id="selectAll" resultType="com.areum.todoproject.entity.TodoVO" >
        SELECT * FROM TBL_TODO ORDER BY TNO
    </select>
    <select id="selectOne" resultType="com.areum.todoproject.entity.TodoVO" parameterType="long">
        SELECT * FROM TBL_TODO WHERE TNO=#{tno}
    </select>
    <insert id="insert">
        INSERT INTO TBL_TODO (TNO, TITLE, DUEDATE, WRITER)
        VALUES (TBL_TODO_TNO_SEQ.NEXTVAL, #{param1}, #{param2}, #{param3})
    </insert>
    <update id="update">
        UPDATE TBL_TODO SET TITLE=#{param1}, DUEDATE=#{param2}, WRITER=#{param3}, FINISHED=#{param4}
        WHERE TNO=#{param5}
    </update>
    <delete id="delete" parameterType="long">
        DELETE FROM TBL_TODO WHERE TNO=#{tno}
    </delete>
</mapper>