<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<ul>
    <div><input type="text" id="tno" th:value="${list.tno}" readonly/></div>
    <div><input type="text" id="title" th:value="${list.title}" readonly/></div>
    <div><input type="text" id="writer" th:value="${list.writer}" readonly/></div>
    <div><input type="date" id="dueDate" th:value="${#temporals.format(list.duedate, 'yyyy-MM-dd')}"/></div>
    <div><th:block th:field="${#temporals.format(list.duedate, 'yyyy-MM-dd')}"/></div>
    <!--<div><input type="checkbox" name="finished" *{finished "checked": ""} readonly/></div>-->
</ul>
<div>
    <a th:href="@{/todo/modify(tno=${list.tno})}">Modify</a>&nbsp;&nbsp;
    <a th:href="@{/todo/remove(tno=${list.tno})}">Remove</a>&nbsp;&nbsp;
    <a href = "/todo/list">List</a>
</div>
</body>
</html> 